# +--------------+
# + Apache Maven +
# +--------------+
/target/

# +---------------+
# + IntelliJ IDEA +
# +---------------+
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
out/
.idea/*
!.idea/runConfigurations
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml

# +------+
# + Java +
# +------+
*.class
*.jar

# JVM crash logs
# http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
